<header class="fitco-header">
  <h1 class="fitco-header__title">Agenda</h1>
</header>
<div class="fitco-main">
  <div class="fitco-main__form">
    <form [formGroup]="formContact">
      <input class="fitco-main__form__item" [formControl]="name" type="text" placeholder="Nombres">
      <input class="fitco-main__form__item" [formControl]="lastName" type="text" placeholder="Apellidos">
      <input class="fitco-main__form__item" [formControl]="phone" type="text" placeholder="Telefono">
      <input class="fitco-main__form__item" [formControl]="email" type="text" placeholder="Correo electronico">
      <textarea class="fitco-main__form__item" [formControl]="information" name="" id="" cols="30" rows="10" placeholder="Informacion adicional"></textarea>
      <button (click)="createContact()" class="fitco-main__form__btn">Añadir</button>
    </form>
  </div>
  <h2>Lista de contactos</h2>
  <hr>
  <ng-container *ngFor="let contact of contacts">
    <div class="fitco-contact">
      {{ contact.name }}
    </div>
    <hr>

  </ng-container>
</div>